<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <style>
            .jumbotron {
                position: relative;
                background-image: url('assets/images/gallery/eligibility.png');
                /* Replace 'your-image.jpg' with the path to your image */
                background-size: cover;
                background-position: center;
                color: white;
                /* Set text color to contrast with overlay */
                padding: 150px 0;
                /* Adjust padding as needed */
                width: 100%;
                /* Make the jumbotron full width */
            }
            
            .jumbotron2 {
                position: relative;
                background-image: url('assets/images/gallery/explore.jpg');
                /* Replace 'your-image.jpg' with the path to your image */
                background-size: cover;
                background-position: center;
                color: white;
                /* Set text color to contrast with overlay */
                padding: 150px 0;
                /* Adjust padding as needed */
                width: 100%;
                /* Make the jumbotron full width */
            }
        
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                /* Adjust the alpha value (last parameter) to make the overlay more or less transparent */
            }
        
            .content {
                position: relative;
                z-index: 1;
                text-align: center;
            }
        
            /* Adjust text styles as needed */
            .content h1,
            .content p {
                font-family: Arial, sans-serif;
                color: white
            }
            .cta-button {
                display: inline-block;
                background-color: #007bff; /* Button background color */
                color: white; /* Button text color */
                padding: 10px 20px; /* Button padding */
                font-size: 18px; /* Button font size */
                text-decoration: none; /* Remove underline */
                border-radius: 50px; /* Button border radius */
                transition: background-color 0.3s ease; /* Smooth transition effect */
            }

            .cta-button:hover {
                background-color: #0056b3; /* Button background color on hover */
            }

            .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .card {
      width: calc(33.33% - 20px); /* Adjust card width based on container width and spacing */
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;
    }

    .card .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Overlay color */
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .card:hover .overlay {
      opacity: 1;
    }

    .card h2,
    .card p {
      margin-bottom: 10px;
      text-align: center;
      color: white;
      font-size: 15px;
    }

    .card .date {
      font-size: 14px;
      color: #ccc;
      margin-bottom: 10px;
    }

    .card a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      background-color: #007bff;
      padding: 10px 20px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    .card a:hover {
      background-color: #0056b3;
    }

    .card img {
      width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      .container {
        flex-direction: column;
      }

      .card {
        width: 100%;
      }
    }

    .testimonial-container {
      max-width: 1000px;
      margin: 0 auto;
      overflow-x: auto;
      white-space: nowrap;
      padding: 20px 0;
    }

    .testimonial {
      display: inline-block;
      width: 300px;
      margin-right: 20px;
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      position: relative; /* Added */
    }

    .testimonial p {
      font-size: 16px;
      line-height: 1.5;
      overflow: hidden; /* Added */
      max-height: 100px; /* Added */
      margin-bottom: 10px; /* Added */
      color: grey;
    }

    .testimonial-author {
      font-weight: bold;
      margin-top: 10px;
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
      position: absolute; /* Added */
      top: 20px; /* Added */
      left: 20px; /* Added */
    }

    .avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* Hide scrollbar */
    .testimonial-container::-webkit-scrollbar {
      display: none;
    }
        </style>
    </head>
    <body onload="isAuthenticated(); displayProfile(); updateProfilePopUp();" class="loading" data-layout-color="light"  data-layout-mode="default" data-layout-size="fluid" data-topbar-color="light" data-leftbar-position="fixed" data-leftbar-color="light" data-leftbar-size='default' data-sidebar-user='true'>
        <!-- Begin page -->
        <div id="wrapper">
            <%- include('./partials/topBar') %>
            
            <%- include('./partials/sideBar') %>

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-12">
                                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block img-fluid" src="assets/images/sliders/australia.jpg" width="100%" alt="First slide">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h3 class="text-white">Ready to explore the Land Down Under?</h3>
                                                <p>Dive into the adventure of a lifetime and discover the boundless opportunities awaiting you in Australia.</p>
                                                <a href="/eligibility-check" class="cta-button">Explore</a>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="assets/images/sliders/us.jpg" width="100%" alt="Second slide">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h3 class="text-white">Are you looking to live the American Dream?</h3>
                                                <p>Discover endless opportunities in the land of freedom and prosperity with our immigration services tailored to
                                                    your
                                                    needs.</p>
                                                <a href="/eligibility-check" class="cta-button">Explore</a>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="assets/images/sliders/france.jpg" width="100%" alt="Third slide">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h3 class="text-white">Are you ready to immerse yourself in the rich culture and timeless charm of France?</h3>
                                                <p>Whether you're drawn to France for its world-renowned cuisine, historic landmarks, or dynamic arts scene, we're here to
                                                assist you at every stage of the immigration process.</p>
                                                <a href="/eligibility-check" class="cta-button">Explore</a>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="assets/images/sliders/germany.jpg" width="100%" alt="Third slide">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h3 class="text-white">Ready to experience the a blend of innovation, culture, and opportunity in Germany?</h3>
                                                <p>Explore the dynamic cities, picturesque landscapes, and world-class education system with our comprehensive immigration
                                                services tailored to your needs.</p>
                                                <a href="/eligibility-check" class="cta-button">Explore</a>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="assets/images/sliders/canada.jpg" width="100%" alt="Third slide">
                                            <div class="carousel-caption d-none d-md-block">
                                                <h3 class="text-white">Ready to embark on a new chapter in the Great White North?</h3>
                                                <p>Experience the warmth of Canadian hospitality and the vast opportunities that await you with our immigration services
                                                tailored to your aspirations.</p>
                                                <a href="/eligibility-check" class="cta-button">Explore</a>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </a>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
                            <div class="col-lg-12" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                                <h3>
                                    <span class="badge bg-dark rounded-pill" style="padding: 10px;">News</span>
                                </h3>
                                <h5 class="display-5" style="display: block;">Recent News</h5>
                            </div>
                            <div class="container blog-posts"></div>
                        </div>
                        <div class="jumbotron">
                            <div class="overlay"></div>
                            <div class="content">
                                <h1>Unlock Your Potential: Check Your Eligibility Today</h1>
                                <p>Our comprehensive eligibility assessment tool allows you to evaluate your qualifications<br /> and determine
                                    your potential
                                    for success in various immigration or educational programs.</p>
                                <a href="/eligibility-check" class="cta-button">Get Started</a>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 50px; margin-bottom: 50px">
                            <div class="col-lg-12" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
                                <h3>
                                    <span class="badge bg-dark rounded-pill" style="padding: 10px;">Testimonies</span>
                                </h3>
                                <h5 class="display-5" style="display: block;">Our Happy Clients</h5>
                                <div class="testimonial-container">
                                    <div class="testimonial">
                                        <div class="avatar">
                                            <img src="/assets/images/users/user-1.jpg" alt="Avatar">
                                        </div>
                                        <p>This is the best platform for everything immigration</p>
                                        <p class="testimonial-author">John Doe</p>
                                    </div>
                                    <div class="testimonial">
                                        <div class="avatar">
                                            <img src="/assets/images/users/user-2.jpg" alt="Avatar">
                                        </div>
                                        <p>America here I come</p>
                                        <p class="testimonial-author">Jane Smith</p>
                                    </div>
                                    <div class="testimonial">
                                        <div class="avatar">
                                            <img src="/assets/images/users/user-3.jpg" alt="Avatar">
                                        </div>
                                        <p>I now know more about immigration. Thank IEE</p>
                                        <p class="testimonial-author">Michael Johnson</p>
                                    </div>
                                    <!-- Add more testimonials here -->
                                </div>
                            </div>
                        </div>
                        <div class="jumbotron2">
                            <div class="overlay"></div>
                            <div class="content">
                                <h1>Explore the new 'Compare Countries' feature</h1>
                                <p>Quickly compare immigration eligibility criteria between countries to make informed decisions about your visa options!</p>
                                <a href="/compare-countries" class="cta-button">Get Started</a>
                            </div>
                        </div>
                        <!-- end row -->
                            
                        <!-- end row -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <script>document.write(new Date().getFullYear())</script> &copy; Immigration Eligibility Evaluator
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-end footer-links d-none d-sm-block">
                                    <a href="javascript:void(0);">About Us</a>
                                    <a href="javascript:void(0);">Help</a>
                                    <a href="javascript:void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->

        <%- include('./partials/profileUpdateModal') %>
        <%- include('./partials/scripts') %>
        <script src="/assets/js/modules/dashboard.js"></script>
    </body>
</html>